body{
    background-color: white;
    color: white;
    font-family: Arial;
    font-size: 20px;
    }
h1 {
    color: white;
}
div {
    display: inline-table;
    width: calc(33% - 16px);
    background-color: #10875D;
    vertical-align: top;
    margin: 8px;
    padding: 10px;
    border: 1px solid white;
    border-radius: 10px;
    box-sizing: border-box;
}